{% extends 'base.html.twig' %}
{% block title "Tous nos biens" %}
{% block body %}
    .
    <div class="container">
        <h1>voir tous nos biens</h1>
        <p>lodslcnds'lkanvas'dklfda'kvjsad\;vmas';dkf;skdjF'LAKSDMF'DLKSAVNALSKDNVA'k;h;lkjshdf;lshjdgs;ljhsdofhggi</p>
    </div>
{% endblock %}